.meals-list {
 list-style-type: none;
 padding-left: 0;   
}

li {
    padding: 5px;
}

a {
    text-decoration: none;
    color: hsl(180, 87, 42.2%);
    font-weight: bold;
}

a:hover {
    color: #c90e0e;
    font-weight: bold;
}